<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <th>
        <td>°á°ú</td>
      </th>
      <tr>
        <td><%= ret %></td>
      </tr>
    </table>
  </body>
</html>
